<div class="layui-header">
    <div class="layui-logo">{{ app_name }}</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        {% set path = app.request.pathInfo %}
        <li class="layui-nav-item {% if path starts with '/house/' %} layui-this{% endif %}"><a href="{{ path('house_list') }}">房屋管理</a></li>
    </ul>
</div>